 <div class="custom-sidebar" id="sidebar-wrapper">
    <div class="sidebar-heading" style="font-family: 'Fira Mono', monospace; color: var(--accent2); font-size: 1.2em; letter-spacing: 2px;"><center><img src="/static/images/graphql_placeholder.png" width="120px" style="margin-bottom: 10px;" /><br>GraphQL Web</center></div>
    <div class="list-group list-group-flush">
      <a href="/" class="list-group-item list-group-item-action"><i class="fa fa-home"></i> Home</a>
    </div>
    <hr>
    <center><span><a href="https://github.com/graphql" class="withlove" target="_blank"><i class="fa fa-star"></i> GraphQL Project</a></span></center>
</div>
